/* Carousel.css */
.carousel-item {
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}

.carousel-img{
  filter: brightness(0.5);
}

.carousel-container {
  position: relative;
  max-width: 100%;
  height: 50vw;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 40vh;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.25rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Customize controls color */
}
