.navlink-single {
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.right-1 {
    right: 1rem !important;
}

.full-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* Slightly transparent background */
    z-index: 1050;
    /* Ensure it's above other content */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.full-page .navbar-nav {
    text-align: center;
}

.full-page .nav-item {
    margin: 15px 0;
}

.full-page .btn-close {
    font-size: 1.5rem;
    color: black;
}

.fw-700 {
    font-weight: 700;
}

.nav-link {
    font-size: 0.875rem !important;
}

.nav-active {
    font-weight: 500;
    color: var(--bs-navbar-active-color);
}


.navbar-toggler {
    border: 0px !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important;
}


.header-cgp {
    color: #1391ff;
    background-color: #e8f4ff;
}

.btn {
    border-radius: 10rem !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1391ff;
    --bs-btn-border-color: #1391ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0088ff;
    --bs-btn-hover-border-color: #0088ff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1391ff;
    --bs-btn-active-border-color: #1391ff;
}

.header-img {
    width: 25rem;
}

/* .top-bar{
    padding-top: 72px;
} */


.fact-item{
    height: 12.5rem;
    
}